/* ui-drop */
.ui-drop {
	position: relative;
	display: inline-block;

    &-pnl {
        display: none;
        position: absolute;
        z-index: 200;
    
        &.on {display: block;}
    
        .ui-drop-close {
            position: absolute;
            top: 6px;
            right: 6px;
        }
    }
    &-box {
        padding: 10px;
        background: #fff;
        border: 1px solid #EEEEEE;
    }
}