/* ui-floating */
.ui-floating {
    border: 1px dashed rgb(230, 230, 230);

    &[data-ps="bottom"][data-state="fix"] .ui-floating-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
    }
    &[data-ps="top"][data-state="fix"] .ui-floating-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .ui-floating-wrap {
        width: 100%;
        position: relative;
    }
}
.ui-floating-range {
    display: inline-block;
    vertical-align: middle;
    height: 500px;
    width: 300px;
    border: 1px dashed #ccc;

    .ui-floating-range-item {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0,0);
    }
}
