/* tab */
.ui-tab {
	position: relative;
	margin: 0;

    &-btns {
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            clear: both;
            width: 100%;
            height: 1px;
            background: $gray200;
        }
        &.ui-scrollbar .wrap-group {overflow-x: initial;}

        .wrap-group {
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            overflow-x: auto;
        }
    }
    &-btn {
        box-sizing: border-box;
        float: left;
        position: relative;
        z-index: 0;
        flex: 1;
        white-space: nowrap;
        padding: 0 $x1;
        min-height: $x5;
        border-left: 0;
        background: $gray50;
        border: 1px solid $gray200;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    
        &:focus {
            outline: none;
            
            span {border-bottom: 1px solid $black;}
        }
        &:first-child {border-left: 1px solid $gray200;}
        &[data-selected="true"],
        &.selected {
            z-index: 2;
            background: $white;
            color:$gray900;
            border-bottom: 1px solid $white;
        } 
    }
    &-pnls {
        box-sizing: border-box;
        position: relative;
        width: 100%;
    }
    &-pnl {
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        padding: $x2;
        background: $white;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        display: none;

        &[aria-hidden='true'] {
            visibility: hidden;
            position: absolute;
            opacity: 0;
            display: none;
        }
        &[data-selected="true"],
        &.selected,
        &[aria-hidden='false']{
            visibility: visible;
            position: relative;
            opacity: 1;
            z-index: 1;
            display: block;
        }
    }

    &.eff-fade > .ui-tab-pnls > .ui-tab-pnl{
        animation-name: fadeIn;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: forwards;

        &[aria-hidden="false"] {
            animation-name: fadeIn;
            animation-duration: .2s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}
/* ui-tab :base style */
.wrap-group .ui-tab-btn + .ui-tab-btn{margin-left: -1px;}
