
body[data-page="a11y1"] {
    col.col-name{width:30rem;}
    col.col-desc{width:auto;}
}

body[data-page="a11y"],
body[data-page="a11y2"] {
    .principle-4 {
        margin-top: $x4;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & > div{
            width: calc(25% - 6rem);
            margin: 0 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            text-align: center;

            & > dt{
                display: flex;
                padding: 2rem;
                width: 15rem;
                height: 15rem;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border:0.2rem solid $gray600;
                background-color: $gray50;
                font-weight: 700;
                font-size: 2.6rem;
                line-height: 1.2;
                margin-bottom: $x2;
            }

        }
    }
    .swiper {
    width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18rem;
        background: #fff;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .swiper {
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-button-next,
    .swiper-button-prev{background-color: black;}
}

body[data-page="time"] {
    .inp-base{width:23rem;}
}

body[data-page="color"] {
    .color-box span{color:#fff; font-weight: 100; mix-blend-mode: difference;}
}

body[data-page="dropdown"] {
    .lb-radio{min-width: 6rem;}
}


body[data-page="tableScroll"] {
    .ui-tablescroll-wrap.ui-scrollbar .ui-scrollbar-barwrap.type-y{
		height: calc(100% - 34px);
		top:auto;
		bottom:0;
	}
}

body[data-page="parallax"] {
    .info-value {
        position: fixed; 
        top:50%; 
        left:50%; 
        z-index: 100; 
        transform: translate(-50%,-50%); 
        padding:20px;
        background: $gray200;
        opacity: .8;
    }
    .parallax-test:first-child .parallax-cont {
        margin-top: 0;
    }

    .parallax-test .parallax-cont {
        padding: 0;
        margin: 1rem auto 0;
        width: 100%;
        top: 0;
        background: $gray100;
    }

    .parallax-test b {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: 900;
        font-size: 50vw;
        // opacity: 0.3;
    }
}

body[data-page="scrollMove"] {
    .test-scrollmove-hor{
        overflow-x: auto;
    }
    .test-scrollmove-hor .test-scrollmove-hor-wrap {
        display: flex;
        justify-content: space-between;
    }
    .test-scrollmove-hor .test-scrollmove-hor-wrap .test:focus{
        background:$black;
        color:$white;
    }
    .test-scrollmove-hor .test{
        flex:0 auto;
        min-width:10rem;
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:4rem;
        line-height: 1;
        opacity:0.1;
        transition: opacity .8s;
        border: 1px dashed $gray200;
        background:$white;
        color:$black;
    }
    .test-scrollmove-hor .test.tada{
        opacity: 1;
    }

    .test-scrollmove-hor .wrap-group {
        flex-wrap: wrap;
    }
    .test-scrollmove-ver{
        width:100%;
        height:30rem;
        overflow-y: auto;
    }
    .test-scrollmove-ver .test {
        width:100%;
        height:20rem;
        border:1px dashed $gray200;
        background:$white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:10rem;
        line-height: 1;
    }
    .ui-scrollbar-wrap .flex-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .test-scrollmove-ver .test+.test{
        margin-top:1rem;
    }
}

body[data-page="layout"] {
    .fx-wrap,
    .fl-wrap,
    .in-wrap {
        border: 1px solid $gray500;
        background: $gray200;
    }
    
    .in-item,
    [class*="fx-item"],
    .fl-item-r,
    .fl-item-l {
        border: 1px dashed $gray500;
        
        padding: 1rem;
        background: $white;
        
    }
}

.tip-test1{width: 200px;}

/* MOBILE -- 4 columns: 0-599 */
@media all and (max-width:599px) {
    body[data-page="a11y1"]{
        .tbl-base {
            table {width: 100%;}
            thead {display: none;}
            table, tr, tbody, th, td{
                width: 100%;
                display: block;
                border: 0;
            }
            th{font-size: 2rem;}
            tr{border-bottom:1px solid $gray300;}
            tbody{border:0;}
            tbody+tbody{
                margin-top:5rem; 
                tr:first-child > * {border:0;}
            }
        }
    }
    body[data-page="a11y"],
    body[data-page="a11y2"] {
        .principle-4 {
            & > div{
                width: 100%;
                margin-bottom: $x8;
            }
        }
    }

    body[data-page="datePicker"] {
        .box-guide.fx-wrap{
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .ui-datepicker{
                justify-content: center;
            }
        }
    }

    body[data-page="button"],
    body[data-page="typography"] {
        .type-noline,
        .type-discription {
            table {width: 100%;}
            thead {display: none;}
            table, tr, tbody, th, td{
                width: 100%;
                display: block;
                border: 0;
            }
            tr{border-bottom:1px solid $gray300;}
            tbody{border:0;}
            tbody+tbody{
                margin-top:5rem; 
                tr:first-child > * {border:0;}
            }
        }
        .type-noline {display: block;}
        .type-noline th{padding:2rem 0 1rem}
        .type-noline tr{overflow: hidden;}
        .type-noline td{
            float: left;
        }
    }

}

/* TABLET -- 8 columns: 600-839 */
@media all and (min-width:600px) and (max-width:839px) {

}

/* DESKTOP -- 12 columns  */
@media all and (min-width:840px) {


}